
<h1> Add New Space </h1>

<form action='/listings' method="post">
<label for="Address">
Address
<input type="text" name="Space">
</label>
<label for="Bedrooms">
No of Bedrooms
<input type="text" name="Bedrooms">
<input type="Submit" value="Submit">
</label>

