<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <h1> Add New Space </h1>

    <form action='/spaces' method="POST" style= 'padding:350px;padding-top:100px'>
      <div class="form-group">
        <label for="name"> Name </label>
        <input type="text" class="form-control" id="name" name='name'>
      </div>
      <div class="form-group" style= border:red;>

        <label for="address"> Address </label>
        <svg class="bi bi-house-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>

      <input type="text" class="form-control" id="address" name='address'>
       </div>
      <div class="form-group">
        <label for="Description"> Description </label>
        <input type="text" class="form-control" id="Description" name='description'>
      </div>
      <div class="form-group">
        <label for="no_bedrooms"> Number of Bedrooms </label>
        <input type="text" class="form-control" id="no_bedrooms" name='no_bedrooms'>
      </div>
      <div class="form-group">
        <label for="price_per_night"> Price per Night </label>
        <input type="text" class="form-control" id="price_per_night" name='price_per_night'>
      <div class="form-group">
        <button type="submit" class="btn btn-dark">Add Space</button>
      </div>
      </form>
    </div>
  </body>
</html>
