<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
  </head>
  <body style="background-image: url('https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2019/09/a04b8e90a541a74b02f3a2a87d56aae6.jpg');background-size:100%;">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/" style="color:white;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" style="color:white;">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/new" style="color:white;">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/new" style="color:white;">Blah blah</a>
      </li>
    </ul>
    <div class="page-header">
      <h1 style="text-align:center;padding-top:20%;font-family:helvetica;color:white;">MAKERS BnB</h1>
    </div>
  </body>
</html>
